<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hoc.stockapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.hoc.stockapp.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hoc.stockapp.Home"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.hoc.stockapp.LogIn"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.hoc.stockapp.SignUp"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.hoc.stockapp.AddCompany"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.hoc.stockapp.AddCompanySize"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.hoc.stockapp.AddCompanyDesign"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.hoc.stockapp.ViewStock"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.hoc.stockapp.ViewStock_Design"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.hoc.stockapp.EditStock"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.hoc.stockapp.EditStock_Design"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>